<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ImgComparer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <connectionStrings>
    <add name="ImageBlob" connectionString="DefaultEndpointsProtocol=https;AccountName=imgcomparer;AccountKey=***REMOVED***;EndpointSuffix=core.windows.net" />
  </connectionStrings>
  <userSettings>
    <ImgComparer.Properties.Settings>
      <setting name="Recent" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoOpen" serializeAs="String">
        <value>True</value>
      </setting>
    </ImgComparer.Properties.Settings>
  </userSettings>
</configuration>