<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FFMpegCore" version="5.1.0" targetFramework="net47" />
  <package id="FFMpegCore.Extensions.System.Drawing.Common" version="5.0.0" targetFramework="net47" />
  <package id="Instances" version="3.0.0" targetFramework="net47" />
  <package id="Microsoft.Azure.KeyVault.Core" version="3.0.5" targetFramework="net47" />
  <package id="Microsoft.Azure.Storage.Blob" version="11.2.2" targetFramework="net47" />
  <package id="Microsoft.Azure.Storage.Common" version="11.2.2" targetFramework="net47" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.24" targetFramework="net47" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.19" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net47" />
  <package id="Ookii.Dialogs.WinForms" version="4.0.0" targetFramework="net47" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net47" />
  <package id="System.Drawing.Common" version="7.0.0" targetFramework="net47" />
  <package id="System.Memory" version="4.5.5" targetFramework="net47" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net47" />
  <package id="System.Resources.Extensions" version="7.0.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net47" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="8.0.4" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
</packages>